				<header id="header">
					<h1 id="logo"><a href="/">Cutting Chai</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Introduction</a></li>
							<li><a href="about">About</a></li>
							<li><a href="#">Events</a>
								<ul>
									<li><a href="main-events">Main Events</a></li>
									<li><a href="flagship-events">Flagship Events</a></li>
									<li><a href="minor-events">Minor Events</a></li>
								</ul>
							</li>
							<li><a href="sponsors">Sponsors</a></li>
							<li><a href="#">Chapters</a>
								<ul>
									<li><a href="ccix">Chapter IX</a></li>
									<li><a href="ccx">Chapter X</a></li>
									<li><a href="#">Chapter XI</a></li>
								</ul>
							</li>
							<li><a href="contact">Contact</a></li>
							<li><a href="#">Schedule</a></li>
						</ul>
					</nav>
				</header>
