	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
<style>
@font-face {
    font-family: 'AngulatteLight';
    src: url('AngulatteLight-webfont.woff2') format('woff2'),
         url('AngulatteLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>
