				<header id="header">
					<h1 id="logo"><a href="/">Cutting Chai</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="sponsors">Sponsors</a></li>
							<li><a href="#">Brochure</a></li>
							<li><a href="#">Media Coverage</a></li>
							<li><a href="about">About</a></li>
							<li><a href="#">Chapters</a>
								<ul>
									<li><a href="ccix">Chapter IX</a></li>
									<li><a href="ccx">Chapter X</a></li>
									<li><a href="#">Chapter XI</a></li>
								</ul>
							</li>
							<li><a href="contact">Contact</a></li>
							<li><a href="elements">Elements</a></li>
							<li><a href="#" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>
