<!DOCTYPE HTML>
<html lang="en">
{% include head.html %}
<body class="is-preload landing">
  <div id="page-wrapper">
    {% include header.html %}
    {% include banner.html %}
    {{ content }}
    		<!-- One -->
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<header>
									<h2>Introduction</h2>
								</header>
							</div>
							<div class="col-4 col-12-medium">
								<p>While writing the book ‘Once Upon a Chai’, the author ended it with a riddle or rather a message which predicted the Dooms day & evil approaching. Due to an uncertain disaster, the book burned down and reached hell, it came in the hands of the Angel of Death (Azrael) who then delivered the message to the gatekeeper of purgatory.</p>
								<p>The message read, “The world is in danger. The protectors are dead. Revive the deadliest!”</p>
								<p>After reading this, the gatekeeper grants an opportunity to those souls to purify themselves and do the good they couldn’t, by overcoming all the obstacles, levels and fighting to be the one in order to win the elixir of life and relive to accomplish the unfinished business.</p>
							</div>
							<div class="col-4 col-12-medium">
								<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
								adipiscing adipiscing metus massa. Blandit orci porttitor semper.
								Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
								mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
								ipsum dolor nullam.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
				<div class="content">
					<header>
						<h2>Interdum amet non magna accumsan</h2>
						<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
					</header>
					<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>

		<!-- Three -->
			<section id="three" class="spotlight style3 left">
				<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
				<div class="content">
					<header>
						<h2>Interdum felis blandit praesent sed augue</h2>
						<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
					</header>
					<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</div>
				<a href="#four" class="goto-next scrolly">Next</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<header class="major">
						<h2>Accumsan sed tempus adipiscing blandit</h2>
						<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
					</header>
					<div class="box alt">
						<div class="row gtr-uniform">
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-area-chart"></span>
								<h3>Ipsum sed commodo</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-comment"></span>
								<h3>Eleifend lorem ornare</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-flask"></span>
								<h3>Cubilia cep lobortis</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-paper-plane"></span>
								<h3>Non semper interdum</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-file"></span>
								<h3>Odio laoreet accumsan</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="col-4 col-6-medium col-12-xsmall">
								<span class="icon alt major fa-lock"></span>
								<h3>Massa arcu accumsan</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
						</div>
					</div>
					<footer class="major">
						<ul class="actions special">
							<li><a href="#" class="button">Magna sed feugiat</a></li>
						</ul>
					</footer>
				</div>
			</section>
    {% include newsletter.html %}
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>
</html>
